<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>
  <div class="control-group">
    <div><%= f.label :email, class: "control-label" %>
      <div class="controls">
  <%= f.email_field :email %></div>
</div>
  </div>
  <div class="control-group">
  <div><%= f.label :password, class: "control-label" %>
    <div class="controls">
  <%= f.password_field :password %></div>
</div>
  </div>
<div class="control-group">
  <div><%= f.label :password_confirmation, class: "control-label" %>
    <div class="controls">
  <%= f.password_field :password_confirmation %></div>
</div>
  </div>
  <div class="control-group">
    <div><%= f.submit "Sign up", class: "btn" %></div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
