<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <div class="control-group">
  <div><%= f.label :email, class: "control-label" %>
    <div class="controls">
  <%= f.email_field :email %></div>
</div>
</div>
  <div class="control-group">
  <div><%= f.label :password, class: "control-label" %>
    <div class="controls">
  <%= f.password_field :password %></div>
</div>
</div>
  <div class="control-group">
  <% if devise_mapping.rememberable? -%>
  <div class="controls">
  <%= f.check_box :remember_me %> <%= f.label :remember_me, class: "checkbox" %>
</div>
  <% end -%>

  <div><%= f.submit "Sign in", class: "btn" %></div>
</div>
<% end %>

<%= render "devise/shared/links" %>
